.cardWrapper {
  height: 30vh;
  display: grid;
  place-content: center;
}

.title {
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bbLogo {
  height: 180px;
  padding-right: 40px;
}

@media screen and (max-width: 800px) {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .bbLogo {
    height: 165px;
    padding-right: 0px;
  }
  .bbText {
    width: 70vw;
  }
}

@media screen and (min-width: 550px) {
  .bbText {
    height: 54px;
    max-width: 354px;
  }
}
