.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  display: grid;
  place-content: center;
}

.hr {
  border-top: 1px solid rgba(0, 0, 0, 0.589);
  width: 80vw;
  margin: 0 auto 10px;
}

.footerText {
  color: rgba(0, 0, 0, 0.521);
  font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 0.8rem;
  }
}
